includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    tmpDir: phpstanCache
    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'
    scanDirectories:
        - src/Orm/Zed
        - src/Generated
    ignoreErrors:
        - '#Call to function method_exists\(\).*#'
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET
