parameters:
    level: 5
    ignoreErrors:
        - '#.* has invalid type Orm\\Zed\\.*#'
        - '#.* has invalid typehint type Orm\\Zed\\.*#'
        - '#.* on an unknown class Orm\\Zed\\.*#'
        - '#.* class Orm\\Zed\\.*#'
        - '#.* on an unknown class Generated\\(Client|Glue|Service|Yves|Zed)\\.*#'
        - '#.* has invalid type Generated\\Shared\\Transfer\\[a-zA-Z]+EntityTransfer\.#'
        - '#.* on an unknown class Generated\\Shared\\Transfer\\[a-zA-Z]+EntityTransfer\.#'
        - '#.* of method Spryker\\Zed\\Kernel\\Persistence\\AbstractRepository::buildQueryFromCriteria\(\) expects Propel\\Runtime\\ActiveQuery\\ModelCriteria, #'
        - '#.* should return Propel\\Runtime\\ActiveQuery\\ModelCriteria\|null but returns Orm\\Zed\\.*#'



