parameters:
    level: 5
    ignoreErrors:
        - '#.* has invalid type Orm\\Zed\\.*#'
        - '#.* on an unknown class Orm\\Zed\\.*#'
        - '#.* on an unknown class Generated\\(Clinet|Glue|Service|Yves|Zed)\\.*#'
