<div style="text-align: center;">
    There was a new user <strong>{{ mail.customer.firstName }} {{ mail.customer.lastName }} ({{ mail.customer.email }})</strong> with role <strong>{{ mail.notifyCustomer.role }}</strong> created
</div>
