parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    scanDirectories:
        - src/Orm/Zed
        - src/Generated
    ignoreErrors:
        - '#.* on an unknown class Generated\\(Client|Glue|Service|Yves|Zed)\\Ide\\AutoCompletion.*#'
