parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    scanDirectories:
        - src/Orm/Zed
    ignoreErrors:
        - '#.* on an unknown class Generated\\(Client|Glue|Service|Yves|Zed)\\.*#'
        - '#Constant APPLICATION_ROOT_DIR not found.#'
        - '#Constant APPLICATION_STORE not found.#'
        - '#Constant APPLICATION not found.#'
