<div>
    <div style="text-align: center; margin-bottom: 20px;">{{ 'mail.customer.one-time-password.login-link.text' | trans }}</div>

    <a href="{{ mail.oneTimePasswordLoginLink }}">
        {{ 'mail.customer.one-time-password.login-link.action' | trans }}
    </a>
</div>
