<div>
    <div style="text-align: center; margin-bottom: 20px;">{{ 'mail.customer.customer_registration_email_connector_email_verification_link.text' | trans }}</div>

    <a href="{{ mail.emailVerificationLink }}">
        {{ 'mail.customer.customer_registration_email_connector_email_verification_link.action' | trans }}
    </a>
</div>
